@import "/ProjectGlobal/style/vars/vars.scss";

.main__img {
  margin-top: 40px;
}
.main__about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  .main__about-item {
    width: 370px;
    height: auto;
  }
}
.main__title-third {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #353a5a;
  width: 870px;
  height: auto;
}
.main__motivation {
  display: flex;
  justify-content: center;
  padding: 90px 0 60px 0;
}
.main__actual {
  display: flex;
  flex-direction: row;
  padding: 120px 0;
  justify-content: space-between;
  color: #fdfdfd;

  .main__actual-text {
    display: flex;
    flex-direction: column;
    width: fit-content;

    .main__text {
      width: 478px;
      margin: 20px 0 50px;
      color: #fdfdfd;
    }
  }

  .main__actual-item {
    border-radius: 120px 0px 0px 0px;
    width: 570px;
    height: 316px;
  }
}
.main__properties {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px 135px;
  border: 1px solid black;

  .main__element {
    width: 270px;
    height: auto;
    background-color: #fdfdfd;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
    border-radius: 10px;
    padding: 25px 15px;

    .main__title-card {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}
