@import url(/ProjectGlobal/style/vars/vars.scss);
@import url(/ProjectGlobal/style/footer/footer.scss);
@import url(/ProjectGlobal/style/globalStyle/global.scss);

.main__title {
  font-family: $f;
}
.main__img {
  margin-top: 40px;
}
.main__about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  .main__about-item {
    width: 370px;
    height: auto;
    font-family: $f;

    @media (max-width: 1160px) {
      width: 300px;
    }
    @media (max-width: 960px) {
      width: 250px;
    }
  }
}
.main__title-third {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #353a5a;
  width: 870px;
  height: auto;
  font-family: $f;

  @media (max-width: 985px) {
    text-align: start;
  }
  @media (max-width: 895px) {
    font-size: 2.2vw;
  }
}
.main__motivation {
  display: flex;
  justify-content: center;
  padding: 90px 0 60px 0;

  @media (max-width: 895px) {
    adding: 45px 0 30px 0;
  }
}
.main__actual {
  display: flex;
  flex-direction: row;
  padding: 120px 0;
  justify-content: space-between;
  color: #fdfdfd;

  .main__actual-text {
    display: flex;
    flex-direction: column;
    width: fit-content;

    .main__text {
      width: 478px;
      margin: 20px 0 50px;
      color: #fdfdfd;
      font-family: $f;
    }
  }

  .main__actual-item {
    border-radius: 120px 0 0 0;
    width: 570px;
    height: 316px;
  }
}
.main__title-properties {
  margin-top: 120px;
  text-align: center;
}
.main__properties {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1170px;
  height: auto;
  margin: 60px 0;

  .main__element {
    width: 270px;
    height: auto;
    background-color: #fdfdfd;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
    border-radius: 10px;
    padding: 25px 15px;

    .main__title-element {
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;

      .main__text-title-element {
        font-family: $f;
        margin-left: 8px;
        font-weight: 500;
       
      }
    }
    .main__text-element {
      font-family: $f;
    }
  }
}

.wrapper__bg {
  background-image: url(/ProjectGlobal/assets/imgPageSecond/img/sale_main.jpg);
  
  .main__sale {
    display: flex;
    flex-direction: column;
    margin: 120px 0 120px 50%;
    padding: 120px 0;
    height: 578px;
    justify-content: space-between;
  }
}
.main__questions {
  margin: 120px 0;
  text-align: center;
}