@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
@import url(/ProjectGlobal/style/vars/vars.scss);
@import url(/ProjectGlobal/style/footer/footer.scss);
@import url(/ProjectGlobal/style/vars/vars.scss);
@import url(/ProjectGlobal/style/footer/footer.scss);
@import url(/ProjectGlobal/style/globalStyle/global.scss);
@import url(/ProjectGlobal/style/vars/vars.scss);
.body {
  color: #353A5A;
  background-color: #E5E5E5;
  font-family: "Raleway", sans-serif;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: #10B582;
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

.logo {
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 500;
  font-size: 58px;
  line-height: 120%;
}
@media (max-width: 1070px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 430px) {
  .title {
    font-size: 35px;
  }
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #353A5A;
}
@media (max-width: 430px) {
  .text {
    font-size: 14px;
  }
}

.btn {
  width: 230px;
  height: 56px;
  background: #FA9F42;
  border-radius: 0px 20px;
  border: none;
  color: #E5E5E5;
  font-weight: 500;
  font-size: 16px;
}

.header__container {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__container .nav {
  display: flex;
  flex-direction: row;
  width: 540px;
  height: auto;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__container .nav {
    justify-content: end;
  }
}
.header__container .nav__element {
  font-family: "Raleway", sans-serif;
}
@media (max-width: 786px) {
  .header__container .nav__element {
    display: none;
  }
}
@media (min-width: 786px) {
  .header__container .header__burger {
    display: none;
  }
}

.header__breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 60px;
}
.header__breadcrumbs img {
  padding: 0 15px 0 15px;
}
.header__breadcrumbs .header__breadcrumbs-unselected {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #353a5a;
  font-family: "Raleway", sans-serif;
}
.header__breadcrumbs .header__breadcrumbs-selected {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #353a5a;
  opacity: 0.5;
  font-family: "Raleway", sans-serif;
}

.main__title {
  font-family: "Raleway", sans-serif;
}
@media (max-width: 630px) {
  .main__title {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .main__title {
    font-size: 20px;
  }
}

.main__img {
  margin-top: 40px;
}

.main__about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.main__about .main__about-item {
  max-width: 370px;
  height: auto;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 1160px) {
  .main__about .main__about-item {
    max-width: 300px;
  }
}
@media (max-width: 960px) {
  .main__about .main__about-item {
    max-width: 250px;
    font-size: 12px;
  }
}
@media (max-width: 830px) {
  .main__about .main__about-item {
    max-width: 220px;
  }
}
@media (max-width: 730px) {
  .main__about .main__about-item {
    max-width: 220px;
  }
}
@media (max-width: 720px) {
  .main__about .main__about-item {
    max-width: 200px;
  }
}
@media (max-width: 660px) {
  .main__about .main__about-item {
    max-width: 180px;
  }
}
@media (max-width: 600px) {
  .main__about .main__about-item {
    max-width: 150px;
  }
}
@media (max-width: 520px) {
  .main__about .main__about-item {
    display: none;
  }
}

.main__title-third {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #353a5a;
  width: 870px;
  height: auto;
  font-family: "Raleway", sans-serif;
  max-width: 900px;
}
@media (max-width: 985px) {
  .main__title-third {
    max-width: 600px;
  }
}
@media (max-width: 730px) {
  .main__title-third {
    font-size: 16px;
    max-width: 400px;
  }
}
@media (max-width: 450px) {
  .main__title-third {
    font-size: 16px;
    max-width: 350px;
  }
}
@media (max-width: 360px) {
  .main__title-third {
    font-size: 14px;
    max-width: 300px;
  }
}

.main__motivation {
  display: flex;
  justify-content: center;
  padding: 90px 0 60px 0;
}
@media (max-width: 890px) {
  .main__motivation {
    padding: 45px 0 30px 0;
  }
}

.main__actual {
  display: flex;
  flex-direction: row;
  padding: 120px 0;
  justify-content: space-between;
  color: #fdfdfd;
  max-width: 100%;
}
@media (max-width: 1050px) {
  .main__actual {
    padding: 80px 0;
  }
}
@media (max-width: 900px) {
  .main__actual {
    flex-direction: column-reverse;
    max-width: 800px;
  }
}
@media (max-width: 600px) {
  .main__actual {
    padding: 20px 0;
  }
}
.main__actual .main__actual-text {
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main__actual .main__actual-text .main__text {
  max-width: 478px;
  margin: 20px 0 50px;
  color: #fdfdfd;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 1000px) {
  .main__actual .main__actual-text .main__text {
    font-size: 14px;
    max-width: 100%;
  }
}
@media (max-width: 900px) {
  .main__actual .main__actual-text .main__text {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .main__actual .main__actual-text .main__text {
    font-size: 14px;
  }
}
.main__actual .main__actual-item {
  border-radius: 120px 0 0 0;
  max-width: 570px;
  height: 316px;
}
@media (max-width: 1150px) {
  .main__actual .main__actual-item {
    max-width: 500px;
    height: auto;
  }
}
@media (max-width: 1050px) {
  .main__actual .main__actual-item {
    max-width: 450px;
    height: auto;
  }
}
@media (max-width: 900px) {
  .main__actual .main__actual-item {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 600px) {
  .main__actual .main__actual-item {
    max-width: 100%;
    border-radius: 60px 0 0 0;
  }
}

.main__title-properties {
  margin-top: 120px;
  text-align: center;
}

.main__properties {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1170px;
  height: auto;
  margin: 60px 0;
}
.main__properties .main__element {
  width: 270px;
  height: auto;
  background-color: #fdfdfd;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
  padding: 25px 15px;
}
.main__properties .main__element .main__title-element {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.main__properties .main__element .main__title-element .main__text-title-element {
  font-family: "Raleway", sans-serif;
  margin-left: 8px;
  font-weight: 500;
}
.main__properties .main__element .main__text-element {
  font-family: "Raleway", sans-serif;
}

.wrapper__bg {
  background-image: url(/ProjectGlobal/assets/imgPageSecond/img/sale_main.jpg);
}
.wrapper__bg .main__sale {
  display: flex;
  flex-direction: column;
  margin: 120px 0 120px 50%;
  padding: 120px 0;
  height: 578px;
  justify-content: space-between;
}

.main__questions {
  margin: 120px 0;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  color: white;
}
.btn .main__btn-green {
  background: #10B582;
}/*# sourceMappingURL=stylePageSecond.css.map */