@import '../vars/vars.scss';

// миксины
// сброс стилей
// контейнер
// общие кнопки и елементы

@mixin fc() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    color: $bl;
    background-color: $wt;
    font-family: $f;

}
.wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: $gr;
    font-family: $f;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
a {
    text-decoration: none;
}
.logo {
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.title {
    font-weight: 500;
    font-size: 58px;
    line-height: 120%;
    @media (max-width:1070px) {
        font-size: 40px;
    }
    @media (max-width:430px) {
        font-size: 35px;
    }

}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #353A5A;
    @media (max-width:430px) {
        font-size: 14px;
    }
}
.btn {
    width: 230px;
    height: 56px;
    background: $or;
    border-radius: 0px 20px;
    border: none;
    color: $wt;
    font-weight: 500;
    font-size: 16px;
}