@import '/ProjectGlobal/style/vars/vars.scss';

.header__container {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .nav {
    display: flex;
    flex-direction: row;
    width: 540px;
    height: auto;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      justify-content: end;
    }
  }

  .nav__element {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .header__burger {
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.header__breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 60px;

  img {
    padding: 0 15px 0 15px;
  }

  .header__breadcrumbs-unselected {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #353a5a;
  }
  .header__breadcrumbs-selected {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #353a5a;
    opacity: 0.5;
  }
}
